<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form action="/edit-address/{{address.id}}" method="post">
                                    <input type="text" name="id" value="{{address.id}}"
                                        style="height: 0px; visibility:hidden" name="_id">
                                    <div class="d-flex justify-content-center">
                                        <img style="height: 70px;width:130px" src="/img/logo.jpg">
                                    </div>

                                    <h5 class="fw-normal mt-0 mb-3 pb-3" style="letter-spacing: 1px;">Address :</h5>

                                    <div class="form-outline mb-3">

                                        <input value="{{address.name}}" type="text" id="form2Example17"
                                            class="form-control form-control-lg" name="name" />
                                    </div>

                                    <div class="form-outline mb-3">
                                        <input value="{{address.phone}}" type="text" id="form2Example17" class="form-control form-control-lg"
                                            name="phone" />
                                    </div>

                                    <div class="form-outline mb-3">
                                        <input value="{{address.street}}" type="text" id="form2Example17" class="form-control form-control-lg"
                                            name="street" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input value="{{address.city}}" type="text" id="form2Example27" class="form-control form-control-lg"
                                            name="city"/>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input value="{{address.state}}" type="text" id="form2Example27" class="form-control form-control-lg"
                                            name="state"/>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input value="{{address.zipcode}}" type="number" id="form2Example27" class="form-control form-control-lg"
                                            name="zipcode"/>
                                    </div>
                                    {{#if err}}
                                <div class="mb-3 text-center">
                                    <b class="text-danger">{{message}}</b>
                                </div>
                                {{/if}}
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-lg btn-block text-white" type="submit"
                                            style="background-color:#fc0c7f">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>