    <style>
      body{
        margin:0 20px;
      }
    </style>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1"><img style="height:60px"
                                src="/img/logo.jpg"></span></h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="/userProfile" class="btn border">
                    <i class="fas fa-user-check text-dark"></i>
                    <span class="badge">0</span>
                </a>
                <a href="/cart" class="btn border">
                    <i class="fas fa-shopping-cart text-dark"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <div class="row ">
      <div class="col-lg-4 pe-0">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="img/user5.jpg" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3" style="color: black;">{{user.name}}</h5>
            <p class="text-muted mb-1" style="color: black;">{{user.email}}</p>
            <p class="text-muted mb-4" style="color: black;">{{user.phone}}</p>
            <div class="d-flex justify-content-center mb-2">
              {{!-- <button type="button" class="btn btn-dark">Edit</button> --}}
              <button type="button" class="btn btn-danger ms-1"><a style="text-decoration:none;color:white"href="/logout">Logout</a></button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-shopping-cart text-warning"></i>
                <a href="/cart" class="mb-0" style="text-decoration: none;">Cart</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-heart text-danger" style="color: #333333;"></i>
                <a href="/wishList" class="mb-0" style="text-decoration: none;">WishList</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="bi bi-clipboard-data"></i>
                <a href="/myorder" class="mb-0" style="text-decoration: none;">Orders</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="bi bi-cash-stack"></i>
                <a href="/coupons" class="mb-0" style="text-decoration: none;">Coupons</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 pe-0">
        {{#if empty}}
        <div class="row">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/img/address1.jpg" style="max-height: 300px; object-fit:contain" alt="">
                    <h2>No Saved Address</h2>
                </div>
            </div>
            {{else}}
        <div class="card mb-4">
          <div class="card-body">
            <hr>
            {{#each user.address}}
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.name}}</p>
                <p class="text-muted mb-0">{{this.phone}}</p>
                <p class="text-muted mb-0">{{this.street}}</p>
                <p class="text-muted mb-0">{{this.state}}</p>
                <p class="text-muted mb-0">{{this.zipcode}}</p>
                <button type="button" class="btn btn-light"  style="border:2px solid black;border-radius-2 "><a  style="text-decoration:none;color:black" href="/edit-address/{{this.id}}">Edit</a></button>
                <button type="button" class="btn btn-light"  style="border:2px solid red;border-radius-2 "><a  style="text-decoration:none;color:red" href="/delete-address/{{this.id}}" onclick="return confirm('Are you sure to delete?')">Delete</a></button>
              </div>
            </div>
            <hr>
            {{/each}}
            {{/if}}
            <div class="d-flex justify-content-center mb-2">
              <button class="btn btn-dark px-3"><a  style="color:white; text-decoration:none;"href="/add-address">Add Address</a></button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-0" >
       <div class="row border-top border-light mx-xl-5 py-4"  >
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-light">
                    &copy; <a class="font-weight-semi-bold" style="color:rgb(234, 186, 194);text-decoration:none;" href="#">United We Stand</a>. All Rights Reserved.
                    Designed
                    by
                    <a class="text-light font-weight-semi-bold" style="text-decoration:none;" href="https://htmlcodex.com">Benazir</a><br>
                    Distributed By <a style="color:rgb(234, 186, 194);text-decoration:none;" href="https://eyeland.co.in" target="_blank">Suyan</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->