<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1"><img style="height:60px"
                                src="/img/logo.jpg"></span></h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cart</li>
          </ol>
        
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="/userProfile" class="btn border">
                    <i class="fas fa-user-check text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="/cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Cart Start -->
    
    <div class="container-fluid pt-5">
        {{#if empty}}
        <div class="row">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/img/emptycart.jpg" style="max-height: 300px; object-fit:contain" alt="">
                    
                    </div>
                    
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn btn-lg px-4 gap-3 " style="background-color:#fc0c7f"><a href="/"style="text-decoration:none;color:white;">CONTINUE SHOPPING</a></button>
      </div>
            </div>
            {{else}}
        <div class="row px-xl-5">            
            <div class="col-lg-8 table-responsive mb-5">               
                <table class="table table-bordered text-center mb-0">
                    <h4 class="text-center text danger">{{noItem}}</h4>
                    <thead class="bg-secondary text-dark">
                        <tr>               
                            <th>Image</th>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {{#each product}}
                        <tr>
                            <td class="align-middle"><img src="/product-images/{{this.main_image.filename}}" alt=""
                                    style="width: 50px; height:60px"></td>
                            <td class="align-middle">{{this.name}}</td>
                            <td class="align-middle">{{this.price}}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" onclick="decQuantity('{{this._id}}','{{this.price}}')"><i class="fa fa-minus"></i></button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" id="q{{this._id}}" readonly
                                    value="{{this.cartQty}}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus" onclick="addQuantity('{{this._id}}','{{this.price}}')"><i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle" id="price{{this._id}}">Rs. {{this.subtotal}}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-primary"><a style="color:white;"
                                                href="/removeFromCart/{{ this._id }}"><i
                                        class="fa fa-trash"></i></a></button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium" id="subTotal">Rs. {{totalPrice}}</h6>
                        </div>
                        
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" id="totalPrice">Rs. {{totalAmount}}</h5>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3"><a style="color:white;text-decoration:none;"
                                href="/checkout">Proceed To Checkout</a></button>
                    </div>
                </div>
            </div>                     
        </div>
        {{/if}}
    </div>
    <!-- Cart End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

     <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

<script>

        let totalPrice=Number({{totalPrice}})
        console.log(totalPrice)
        async function addQuantity(id,price){
            const response=await axios.get('/addQuantity/'+id)
            if(response.data.user?.acknowledged){
                var quantity=document.getElementById('q'+id).value
                var priceTag=document.getElementById('price'+id)
                var totalPriceTag=document.getElementById('totalPrice')
                var subTotalPriceTag=document.getElementById('subTotal')
                quantity++
                totalPrice=Number(totalPrice)+Number(price)
                 totalPriceTag.innerHTML=totalPrice;
                 subTotalPriceTag.innerHTML=totalPrice
                priceTag.innerHTML= 'Rs. '+quantity*price;
                document.getElementById('q'+id).value=quantity;
                document.getElementById('mq'+id).value=quantity;

            }
            else{
                console.log('eror')
            }
        }
         async function decQuantity(id,price){
            const response=await axios.get('/minusQuantity/'+id)
            if(response.data.user?.acknowledged){
                var quantity=document.getElementById('q'+id).value;
                 var totalPriceTag=document.getElementById('totalPrice')
                var subTotalPriceTag=document.getElementById('subTotal')
               
                if(quantity<=0){
                    window.location.reload()
                }
                var priceTag=document.getElementById('price'+id)
                quantity--

                totalPrice=Number(totalPrice)-Number(price)

                 totalPriceTag.innerHTML=totalPrice;
                 subTotalPriceTag.innerHTML=totalPrice    

                priceTag.innerHTML= 'Rs. '+quantity*price; 
                document.getElementById('q'+id).value=quantity;
                document.getElementById('mq'+id).value=quantity;
            }else{
                window.location.reload()
            }
        }
</script>

</body>

</html>