    <style>
      body{
        margin:0 20px;
      }
    </style>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1"><img style="height:60px"
                                src="/img/logo.jpg"></span></h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a style="color:#D19C97; text-decoration:none;"href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="/userProfile" class="btn border" style="color:#D19C97">
                    <i class="fas fa-user-check"></i>
                    <span class="badge">0</span>
                </a>
                <a href="/cart" class="btn border" style="color:#D19C97">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <div class="row ">
      <div class="col-lg-4 pe-0">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="img/user5.jpg" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3" style="color: black;">{{user.name}}</h5>
            <p class="text-muted mb-1" style="color: black;">{{user.email}}</p>
            <p class="text-muted mb-4" style="color: black;">{{user.phone}}</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" style="background-color:#D19C97;"class="btn btn ms-1"><a style="text-decoration:none;color:white"href="/logout">Logout</a></button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                
                
                <i class="fas fa-shopping-cart text-warning"></i>
                <a href="/cart" class="mb-0" style="text-decoration: none; color:black;font-weight:bold;">Cart</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-heart text-danger" style="color: #333333;"></i>
                <a href="/wishList" class="mb-0" style="text-decoration: none; color:black;font-weight:bold;">WishList</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="bi bi-clipboard-data"></i>
                <a href="/myorder" class="mb-0" style="text-decoration: none; color:black;font-weight:bold;">Orders</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 pe-0">
        {{#if empty}}
        <div class="row">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/img/address1.jpg" style="max-height: 300px; object-fit:contain" alt="">
                    <h2>No Saved Address</h2>
                </div>
            </div>
            {{else}}
        <div class="card mb-4">
          <div class="card-body">
            <hr>
            {{#each user.address}}
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0" style="font-weight: bold;">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{this.name}}</p>
                <p class="text-muted mb-0">{{this.phone}}</p>
                <p class="text-muted mb-0">{{this.street}}</p>
                <p class="text-muted mb-0">{{this.state}}</p>
                <p class="text-muted mb-0">{{this.zipcode}}</p>
                <button class="btn btn-sm btn" style="background-color:#D19C97;"><a style="color:white"
                                                href="/edit-address/{{this.id}}"><i
                                        class="fa fa-edit"></i></a></button>
                 <button class="btn btn-sm btn" style="background-color:#D19C97;"
                                                type="button" data-bs-toggle="modal" data-bs-target="#a{{this.id}}"><i
                                                    class="fa fa-trash" style="color:white;"></i></button>
                                        </td>
                                    </tr>
                                    {{!-- modaL --}}
                                    <div class="modal fade" id="a{{this.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Alert
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Do You Want To Delete This Address ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <a href="/delete-address/{{this.id}}"><button type="button"
                                                            class="btn btn" style="background-color:#D19C97;color:white;">Delete</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            {{/each}}
            {{/if}}
            <div class="d-flex justify-content-center mb-2">
              <button class="btn btn px-3" style="background-color:#D19C97";><a  style=" color:white;text-decoration: none;"href="/add-address">Add</a></button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-0" style="background-color:white !important;bottom: 0; width: 100%;" >
       <div class="row border-top border-light mx-xl-5 py-4" style="background-color:white;" >
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left" style="color:#D19C97 !important;">
                    &copy; <a style="text-decoration:none; color:#D19C97 !important;font-weight:bold;" class="text-light font-weight-semi-bold" href="#">United We Stand. </a>All Rights Reserved.
                    Designed
                    by
                    <a class="text-light font-weight-semi-bold" style="text-decoration:none; color:#D19C97 !important; font-weight:bold" href="https://htmlcodex.com">Benazir<br></a>
                    Distributed By <a style="text-decoration:none;color:#D19C97 !important;" href="https://eyeland.co.in" target="_blank">Suyan</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->