<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid ">
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1"><img style="height:60px"
                                src="/img/logo.jpg"></span></h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">WishList</li>
          </ol>
        
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="/userProfile" class="btn border">
                    <i class="fas fa-user-check text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="/cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12 mt-5">
                {{#unless products}}
                <div class="row">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="/img/wish2.jpg" style="max-height: 300px; object-fit:contain" alt="">
                    <h2>Your wishList is empty!!</h2>
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
        <button type="button" class="btn btn btn-lg px-4 gap-3 " style="background-color:#fc0c7f"><a href="/shop"style="text-decoration:none;color:white;">ADD ITEMS</a></button>
      </div>
                {{else}}
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            
                        </div>
                    </div>
                    {{#each products}}
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-1 mb-4 " style="width: 103% !important;">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
                                style="height: 200px;">
                                <img class="img-fluid w-100 h-100" style="object-fit: contain;"
                                    src="/product-images/{{this.main_image.filename}}" alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">{{this.name}}</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>Rs.{{this.price}}</h6>
                                    <h6 class="text-muted ml-2"><del>Rs.{{this.mrp}}</del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="/productDetails/{{this._id}}" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                                <a href="/deleteProduct/{{this._id}}" class="btn btn-sm text-dark p-0"><i
                                        class="fas fa-trash text-primary mr-1"></i>Remove</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    
                </div>
                {{/unless}}
                <div class="col-lg-12">
                            <nav aria-label="Page navigation example">
							<ul class="pagination" style="justify-content: center;">
				                {{#each pagination}}
								<li class="page-item"><a class="page-link" href="/wishlist/?page={{this}}" style="color: #D19C97;">{{this}}</a></li>
								{{/each}}				
                    </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->


   <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-0">
       <div class="row border-top border-light mx-xl-5 py-4"  >
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">United We Stand</a>. All Rights Reserved.
                    Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">Benazir</a><br>
                    Distributed By <a href="https://eyeland.co.in" target="_blank">Suyan</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>